* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.color--gray {
    color: #969799;
}

.color--black {
    color: #333333;
}

.color--green {
    color: #1fb19e;
}

.color--orange {
    color: #ff8b37;
}

.color--red {
    color: #eb4c44;
}