#detail-issues {
  min-height: 100vh;
  padding-bottom: 20px;
  background-color: #F4F5F5;
  .top-wrapper {
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0 1px 3px rgb(250, 247, 247);
    position: fixed;
    z-index: 10;
    .title-info {
      width: 1200px;
      margin: 0px auto;
      display: flex;
      cursor: pointer;
      img {
        width: 50px;
      }
      .top-title {
        margin-left: 10px;
        font-size: 28px;
        font-weight: 600;
        line-height: 51px;
      }
    }
  }

  .header-wrapper {
    padding-top: 72px;
    background-color: #FFF3D9;
    .el-page-header {
      width: 1200px;
      margin: 0 auto;
      padding: 10px 0;
      box-sizing: border-box;
      .el-page-header__left {
        color: #333;
        &:hover {
          color: #ff6700;
        }
      }
      .el-page-header__content {
        font-size: 17px;
        color: rgb(109, 108, 108);
      }
    }
  }

  .comment-wrapper {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    .comment_title {
      font-size: 20px;
      color: #999;
    }
  }

  .form-wrapper {
    box-sizing: border-box;
    padding: 0 15px;
    .form_username {
      padding: 10px 0;
      color: #ff6700;
    }
    .form_input {
      padding-bottom: 10px;
    }
    .el-button--primary {
      background-color: #FFF3D9;
      border-color: rgb(248, 226, 181);
      color: #333;
      &:hover {
        background-color: rgb(248, 226, 181);
      }
      .el-button--small {
        padding: 9px 8px;
      }
    }
  }

  .body-wrapper {
    width: 1200px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #fff;
    .title-wrapper {
      box-sizing: border-box;
      padding: 20px 0 30px;
      text-align: center;
      font-size: 30px;
      font-weight: 500;
    }
    .info-wrapper {
      display: flex;
      justify-content: center;
      color: #999;
      font-size: 15px;
      .one-info {
        position: relative;
        bottom: 2px;
      }
    }
    .content-wrapper {
      box-sizing: border-box;
      padding: 10px 20px;
      .content-item {
        margin: 15px 0;
        padding: 10px;
        border-radius: 5px;
        background-color: rgb(245, 230, 208);
        .content-title {
          display: flex;
          .content-title_num {
            color: #999;
          }
          .content-title_username {
            position: relative;
            bottom: 2px;
            color: #ff6700;
          }
        }
        .content_content {
          padding: 20px 0 20px 20px;
        }
        .content_date {
          font-size: 14px;
          color: #999;
        }
      }
    }
  }


}