/**
 * @author: 殷鹏飞
 * @Date: 2019-12-27 09:51:54
 * @information: 登录页面
 */
#login {
    width: 100%;
    height: 100vh;
    background: url('~@/assets/img/bgimg.jpg') no-repeat 0 0;
    overflow: auto;
    background-size: cover;

    // 表单
    .login-box {
        border: 1px solid #DCDFE6;
        width: 500px;
        margin: 150px auto;
        padding: 70px 70px 55px;
        border-radius: 20px;
        // -webkit-border-radius: 20px;
        // -moz-border-radius: 20px;
        box-shadow: 0 0 20px #9ca1aa;
        background-color: #fff;
        opacity: 0.8;
    }
    // 标题区域
    .login-title-box {
        // 标题
        .login-title {
            text-align: center;
            margin: 0 auto 40px 70px;
            font-size: 28px;
            color: #303133;
        }
        // 登录注册提示信息
        .login-info {
            padding-bottom: 20px;
            color: #999;
            span {
                color: #ff6700;
            }
        }
    }
    // 按钮盒子
    .btn-box {
        text-align: center;
    }
}