#person-publish {
  min-height: 100vh;
  background-color: #F4F5F5;
  padding-bottom: 20px;

  .top-wrapper {
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0 1px 3px rgb(250, 247, 247);
    position: fixed;
    z-index: 10;
    .title-info {
      width: 1200px;
      margin: 0px auto;
      display: flex;
      cursor: pointer;
      img {
        width: 50px;
      }
      .top-title {
        margin-left: 10px;
        font-size: 28px;
        line-height: 51px;
      }
    }
  }

  .header-wrapper {
    padding-top: 72px;
    background-color: #FFF3D9;
    .el-page-header {
      width: 1200px;
      margin: 0 auto;
      padding: 10px 0;
      box-sizing: border-box;
      .el-page-header__left {
        color: #333;
        &:hover {
          color: #ff6700;
        }
      }
      .el-page-header__content {
        font-size: 17px;
        color: rgb(109, 108, 108);
      }
    }
  }

  .body-wrapper {
    width: 1200px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 30px 10px 50px;
    .el-tabs {
      height: 100% !important;
      min-height: 100vh;
    }
    .el-tabs__item.is-active {
      color: #ff6700;
    }
    .el-tabs__active-bar {
      background-color: #ff6700;
    }
    .el-tabs__item:hover {
      color: #ff6700;
      cursor: pointer;
    }

    .right-wrapper {
      .item-wrapper {
        padding: 0 10px;
        box-sizing: border-box;
        .display--flex {
          display: flex;
          justify-content: space-between;
          .title-info {
            display: flex;
            &:hover {
              color: #ff6700;
              cursor: pointer;
            }
            .title-desc {
              width: 50px;
              font-size: 16px;
              color: #999;
            }
            .title-text {
              width: 900px;
            }
          }
        }
        .date-info {
          font-size: 14px;
          color: #999;
        }
        .el-divider { //分割线
          display: block;
          height: 1px;
          width: 100%;
          margin: 20px 0;
        }
      }
    }

  }




  // 底部区域
  .footer {
    margin-top: 50px;
    font-size: 12px;
    text-align: center;
    color: #999;
  }

}