#person_info {
  min-height: 100vh;
  background-color: #F4F5F5;
  padding-bottom: 20px;
  .top-wrapper {
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0 1px 3px rgb(250, 247, 247);
    position: fixed;
    z-index: 10;
    .title-info {
      width: 1200px;
      margin: 0px auto;
      display: flex;
      cursor: pointer;
      img {
        width: 50px;
      }
      .top-title {
        margin-left: 10px;
        font-size: 28px;
        font-weight: 600;
        line-height: 51px;
      }
    }
  }

  .header-wrapper {
    padding-top: 72px;
    background-color: #FFF3D9;
    .el-page-header {
      width: 1200px;
      margin: 0 auto;
      padding: 10px 0;
      box-sizing: border-box;
      .el-page-header__left {
        color: #333;
        &:hover {
          color: #ff6700;
        }
      }
      .el-page-header__content {
        font-size: 17px;
        color: rgb(109, 108, 108);
      }
    }
  }

  .form-wrapper {
    width: 1200px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 30px 20px 50px;

    // 图片文件上传区域
    .avatar-uploader .el-upload {
      border: 1px dashed #d9d9d9;
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
      border-color: #409EFF;
    }
    .avatar-uploader-icon {
      font-size: 28px;
      color: #8c939d;
      width: 100px;
      height: 100px;
      line-height: 100px;
      text-align: center;
    }
    .avatar {
      width: 178px;
      height: 178px;
      display: block;
    }
  }

  // 底部区域
  .footer {
    margin-top: 50px;
    font-size: 12px;
    text-align: center;
    color: #999;
  }

}